html{
    background-color: rgb(21, 12, 79);
    font-family: helvetica;
}
h1{
    font-family: 'DM Serif Display', serif;;
    font-size:300%;
    font-weight: 600;
    color: maroon;
    margin: 3%;
}
p{
    font-size:100%;
    color:rgb(89, 142, 35);
    margin:5%;
}
#introduction{
    font-size:150%;
    font-weight:200%;
    color:chartreuse;
    margin:5%;
}
.item{
    font-style: italic;
    margin-left: 7%;
    line-height: 200%;
    color: gold;
}
a:link {
    color: whitesmoke;
  }
  a:hover {
    color: darkorange;
  }
a:active {
    color: violet;
  }
  a:visited {
    color: wheat;
  }


